<h1 align = "center"> Listing all articles </h1>

<div class = "col-xs-offset-2 col-xs-8">
   <%= link_to 'Create new article', new_article_path , class: "btn btn-primary btn-xsmall" %>
</div>
<div align ="center">
    <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align ="center">
    <%= will_paginate %>
</div>