<div class = "row">
<h1> About </h1>
<h2> Surya is a Sanskrit word that means the Sun. Synonyms of Surya in ancient Indian literature include Aditya, Arka,
Bhānu, Savitru, Pushana, Ravi, Mārtanda, Mitra and Vivasvāna. Surya also connotes the solar deity in Hinduism,
particularly in the Saura tradition found in states such as Rajasthan, Gujarat, Madhya Pradesh, Bihar, Uttar Pradesh, 
Jharkhand and Odisha. Surya is one of the five deities considered as equivalent aspects and means to realizing Brahman 
in the Smarta Tradition. Surya's iconography is often depicted riding a chariot harnessed by horses, often seven in number
which represent the seven colour rays of the rainbow.</h2> 
</div>



