<div class = "center jumbotron">
 <h1> Surya blog</h1>
    <% if !logged_in? %>
    <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %> 
    <% end %> 
</div>

<div class = "center home-page ">
<h3> "All good writing begins with terrible first efforts. You need to start somewhere" </h3> 
</div>

