$navbar-default-bg: #32CD32;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: #696969;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #FFFF99;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron{
    background-image: asset-url('nice.jpg');
    background-size: cover;
    height: 400px;
}

.jumbotron h1 {
    color: #00BFFF;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    font-style: italic;
    font-family: Serif;
}

.home-page{
    border-style: dotted ;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.btn-xlarge{
    font-size: 1.7em;
    background-color: #008080 ;
}

.btn-xsmall{
    margin-bottom: 10px;
}

.article-meta-details{
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description{
    margin-top: 0;
}

.article-title {
font-weight: bold;
font-size: 1.5em;
}

.article-body {
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.badge {
    background-color :#CEF6F5;
    text-transform : uppercase;
    // letter-spacing : -1px;
    font-weight : bold;
}

.input_checkbox input{
    width: auto !important;
}

.about-page{
    // width: 1100px;
    border: 15px solid green;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover{
    color: #222;
}

footer small {
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}