<div class= "container">
    <footer class = "footer">
        <small>
            Copyright &copy <a href="#"> Surya </a>
            by <a href="#"> Kanna </a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Blogs", articles_path %> </li>
            </ul>
        </nav>
    </footer>
</div>